/* helpers  css*/
.d-flex{
 display: flex !important;  
}

.flex-fill {
  flex: 1 1 auto !important;
}

.flex-row {
  flex-direction: row !important;
}

.flex-column {
  flex-direction: column !important;
}

.flex-row-reverse {
  flex-direction: row-reverse !important;
}

.flex-column-reverse {
  flex-direction: column-reverse !important;
}

.flex-grow-0 {
  flex-grow: 0 !important;
}

.flex-grow-1 {
  flex-grow: 1 !important;
}

.flex-shrink-0 {
  flex-shrink: 0 !important;
}

.flex-shrink-1 {
  flex-shrink: 1 !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.flex-nowrap {
  flex-wrap: nowrap !important;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse !important;
}

.justify-content-start {
  justify-content: flex-start !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.justify-content-around {
  justify-content: space-around !important;
}

.justify-content-evenly {
  justify-content: space-evenly !important;
}

.align-items-start {
  align-items: flex-start !important;
}

.align-items-end {
  align-items: flex-end !important;
}

.align-items-center {
  align-items: center !important;
}

.align-items-baseline {
  align-items: baseline !important;
}

.align-items-stretch {
  align-items: stretch !important;
}

.align-content-start {
  align-content: flex-start !important;
}

.align-content-end {
  align-content: flex-end !important;
}

.align-content-center {
  align-content: center !important;
}

.align-content-between {
  align-content: space-between !important;
}

.align-content-around {
  align-content: space-around !important;
}

.align-content-stretch {
  align-content: stretch !important;
}

.align-self-auto {
  align-self: auto !important;
}

.align-self-start {
  align-self: flex-start !important;
}

.align-self-end {
  align-self: flex-end !important;
}

.align-self-center {
  align-self: center !important;
}

.align-self-baseline {
  align-self: baseline !important;
}

.align-self-stretch {
  align-self: stretch !important;
}



.header{
  color: #0F044C;
}
.header--center{
  text-align: center;
  margin-bottom: 30px;
}

.main_div{
  display: flex;
  justify-content: center;
}

.main_description{
  color: #0F044C;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding: 3% 0;
  margin-right: 60px;

}

.formStyle{
  background-color: #EEEEEE;
  display: flex;
  flex-direction: column;
  border-radius: 5%;
  box-shadow: 0px 4px 45px 0px rgba(20,30,97,0.46);

}

.inputForm{
  background-color: #EEEEEE;
  border: 1px solid #787A91;
  border-radius: 3%;
}

.inputForm:focus{
  outline: #0F044C 1px solid;
  color: #787A91;
}



.btn{
  height: 77px;
  margin-top: 20px;
  font-size: 29px;
}

.btn--small{
  height: 40px;
  width: auto;
  margin-top: 20px;
  font-size: 20px;
}

/* style  form login */
.formStyle--login{
  width:120vw;
  margin-right: 60px;
  padding: 25px;
}

.inputForm--login{
  margin-top: 10px;
  margin-bottom: 40px;
  height: 77px;
  font-size: 29px;
}

.btn--signUp{
   color: #EEEEEE;
   background-color: #0F044C;
}

.btn--signIn{
  background-color: #787A91;
  color: #EEEEEE;
}

.btn--signIn:hover,.btn--signUp:hover{
  opacity: 0.6;
}

/* style form sign in  */
.formStyle--singnIn{
  padding: 30px;
}

.inputForm--signIn{
  height: 50px;
  margin-bottom: 30px;
  font-size: 20px;
  background: none;
 
}


/* modal style */
.modal{
 position: fixed;
 height: 100vh;
 left: 0;
 top: 0;
 width: 100vw;
 background-color: rgba(0, 0, 0, 0.256);
 z-index: 1;
}

.modal--card{
  position: relative;
  width: 800px;
  margin:  50px auto;
}

.modal--content{
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: #ffff;
  background-clip: padding-box;
  border-radius: 2%;
  background-color: 1px solid black;
  z-index: 10;
  width: 100%;
}

.fade{
  transition: opacity .15s linear;
}

.modal--header{
  align-items: center;
  padding: 1rem 1rem;
  border-bottom: 1px solid black;
  font-size: 2rem;
  color: #0F044C;
  text-align: center;
  font-weight: bold;
}

.modal--body{
  flex: 1 1 auto;
  padding: 1rem;
  position: relative;
}




