
/* style menu */

.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 45px 0px rgba(20,30,97,0.46);
  padding: 10px;
}

.menu__hamburguer{
  display: none;
}

.menu__subcontener{
  position: absolute;
  box-shadow: 0px 4px 45px 0px rgba(20,30,97,0.46);
  right: 20px;
  width: 6rem;
  padding: 10px;
  background-color: #EEEEEE;
}

.menu__close{
   display: none;
}
.menu__text{
  display: none;
}
.menu__subcontener.disabled{
  display: none;
}

.menu__sublist{
    list-style: none;
    padding: initial;
}

.menu__item--sub{
  border-bottom: 1px solid #787A91;
  color: #787A91;
  font-size: 20px;
  cursor: pointer;
}

.menu__item{
  display: inline-block;
  margin-left: 40px;
  margin-right: 40px;
}

li.menu__item a {
  text-decoration: none;
}

.menu__icon{
  width: 3rem;
  height: auto;
  cursor: pointer;
}
.searchword__img:hover,.game__opt:hover,.menu__icon:hover,.menu__item--sub:hover{
  opacity: .5;
}

.header{
  color: #0F044C;
}
.header--center{
  text-align: center;
  margin-bottom: 30px;
}

.main_div{
  display: flex;
  justify-content: center;
}

.main_description{
  color: #0F044C;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding: 3% 0;
  margin-right: 60px;

}

.formStyle{
  background-color: #EEEEEE;
  display: flex;
  flex-direction: column;
  border-radius: 5%;
  box-shadow: 0px 4px 45px 0px rgba(20,30,97,0.46);
}

.inputForm{
  background-color: #EEEEEE;
  border: 1px solid #787A91;
  border-radius: 3%;
}

.inputForm:focus{
  outline: #0F044C 1px solid;
  color: #787A91;
}



.btn{
  height: 40px;
  font-size: 20px;
}

.btn--small{
  height: 20px;
  width: auto;
  font-size: 10px;
}

/* style  form login */
.formStyle--login{
  width:180vw;
  margin-right: 60px;
  padding: 20px;
}

.inputForm--login{
  margin-top: 30px;
  height: 40px;
  font-size: 30px;
}

.btn--signUp{
   color: #EEEEEE;
   background-color: #0F044C;
}

.btn--signIn{
  background-color: #787A91;
  color: #EEEEEE;
}

.btn--signIn:hover,.btn--signUp:hover,.button__dark:hover{
  opacity: 0.6;
}

/* style form sign in  */
.formStyle--singnIn{
  padding: 20px;
  background:none;
  box-shadow: none;
}

.inputForm--signIn{
  height: 40px;
  margin-bottom: 30px;
  font-size: 20px;
  background: none;
 
}

/* style view  home*/
.searchword{
  margin:80px auto;
  width: 80%;
  display: flex;
  justify-content: center;
}

.defitem{
  margin-right: 20px;
  color: #787A91;
}
.searchresult{
  width: 55%;
  margin: 0 auto;
  font: 100 20px 'Ubuntu', sans-serif;
  color: #0F044C;
  line-height: 1.35em;
}

.searchdefinitions{
  list-style: none;
  padding: 10px;
  overflow: scroll;
  height: 60vh;
  /* text-align: center; */
}

.searchBoxItems{
  border: 1px solid #787A91;
  margin:10px 0;
}
.searchitemsHeader{
  padding: 10px;
  color: #0F044C;  
  text-align: center;
}

.examples{
  padding: 10px;
  color: #787A91;
  list-style: none;
}

.searchword__input{
  width: 60%;
  height: 70px;
  font: 300 28px 'Ubuntu', sans-serif;
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid  #0F044C;
  color: #787A91;
}
.searchword__img{
   height: auto;
   width: 60%;
   cursor: pointer;   
}


/* style view game */
.game{
  margin:80px auto;
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.game__opt{
  cursor: pointer;
  padding: 10% 20%;
  color: #0F044C;   
  margin: 10px;  
  box-shadow:-1px 3px 15px 7px rgba(0,0,0,0.54);
}

/*glossary  */
.glossary{
  width: 80%;
  margin: 40px auto auto auto;
  /* height: 100vh; */
  box-shadow: 0px 4px 12px 0px rgba(20,30,97,0.46);
  overflow: auto;
}

.glossary__list{
   list-style: none;
}
.glossary__list li{
   padding: 10px;
}

/* style button*/
.button{
  height: 3rem;
  width: 6rem;
  padding: 0.35em 1.2em;
  border: 0.1em solid;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
  font-weight: 600;
  text-align: center;
  transition: background 0.2s; 
}


.button__dark{
  background-color:  #0F044C;
  color: #989aa9;
  cursor: pointer;
  border-color: #989aa9;
}

/* content */
.content{
  position: fixed;
  height: 100vh;
  left: 0;
  top: 0;
  width: 100vw;
  background:  #EEEEEE;
  z-index: 999;
  overflow: auto;
}

/* style game*/
.game__title{
   color: #787A91;
   font-size: 2rem;
   text-align: center;
}
.game__close{
  position: absolute;
  right: 0;
  padding: 10px;
}

/*spinner */
@keyframes spinner{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.loading-spinner{
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3;
  border-top: 10px solid #787A91;
  border-radius: 50%;
  animation: spinner  1.5s linear infinite;
}

.loading-spinner--small{
  width: 20px;
  height: 20px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #787A91;

}

/* style table*/
.table{
   overflow-x: auto;
}

.table__content{
   border-collapse: collapse;
   margin: 25px 0;
   font-size: 0.9em;
   font-family: sans-serif;
   width: 100vw;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table__content thead tr{
  background-color: #EEEEEE;
  color: #0F044C;
  border-bottom: 1px solid  #0F044C;
  text-align: center;
}

.table__content tbody tr{
   text-align: center;
}

.table__content th,
.table__content td{
  padding: 12px 15px;
}

.table__content tbody tr:nth-of-type(even){
  background-color: #f3f3f3;
}

.table__content tbody tr:last-of-type{
  border-bottom: 2px solid #0F044C
}


.table__content tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

/* select component */
.custom-select {
  position: relative;
  width: 400px;
  max-width: 100%;
  font-size: 1.15rem;
  color: #000;
  margin-top: 3rem;
}

.select-button {
  width: 100%;
  font-size: 1.15rem;
  background-color: #fff;
  padding: 0.675em 1em;
  border: 1px solid #caced1;
  border-radius: 0.25rem;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
  align-items: center;
}


.disabled{
  background-color: #b8bac2;
}
.selected-value {
  text-align: left;
}

.arrow {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #000;
  transition: transform ease-in-out 0.3s;
}

.select-dropdown {
  position: absolute;
  list-style: none;
  width: 100%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
  max-height: 200px;
  overflow-y: auto;
  transition: 0.5s ease;

  transform: scaleY(0);
  opacity: 0;
  visibility: hidden;
  z-index: 100;
}

.select-dropdown:focus-within {
  box-shadow: 0 10px 25px rgba(94, 108, 233, 0.6);
}

.select-dropdown li {
  position: relative;
  cursor: pointer;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.select-dropdown li{
  width: 100%;
  padding: 8px 1px;
  cursor: pointer;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.select-dropdown::-webkit-scrollbar {
  width: 7px;
}
.select-dropdown::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}

.select-dropdown::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 25px;
}

.select-dropdown li:hover,
.select-dropdown input:checked ~ label {
  background-color: #f2f2f2;
}

.select-dropdown input:focus ~ label {
  background-color: #dfdfdf;
}



/* interactivity */

.custom-select.active .arrow {
  transform: rotate(180deg);
}

.custom-select.active .select-dropdown {
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
}


/*

OTHER  COMMON STYLES
*/
.CUR{
  cursor: pointer;
  color: #0F044C;
}

.CUR:hover{
  color: #787A91;
  text-decoration:underline
}

.modal{
  position: fixed;
  left: 0;
  top: 0;
  overflow: scroll;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  opacity: 0;
  transform: scale(1.1);
  visibility: hidden;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  z-index: 100;
}

.modal-header{
  font-size: 20px;
  border-bottom: 1px solid #0F044C;
  text-align: center;
}

.modal-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: white;
  padding: 2rem 0.5rem;
  width: 24rem;
  border-radius: 0.5rem;
}

.show-modal {
  display: block;
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.close-button{
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: .25rem;
  background-color: lightgray;
}


/* media query */

@media only screen and (max-width: 50rem) {
  .modal-content {
    width: calc(100% - 5rem);
  }
}

/* nav */
@media screen and  (min-width: 100px) and (max-width: 600px) {
  .menu{
    flex: none;
  }
  .menu__list{
     position: absolute;
     top: 0;
     left: 0;
     display: flex;
     flex-direction:column;
     height: 100vh;
     width: 70%;
     background-color: rgba(0, 0, 0, 0.761);
     transform: translateX(-400px);
     transition: transform  1s ease-out;
  }

  .menu__list.open{
     transform: translateX(0);
  }

  .menu__item{
      margin-top: 20px;
      margin-bottom: 20px;
      border-bottom:1px solid  #989aa9;
  }

  .menu__text{
    color: #989aa9;
    display: inline-block;
  }

  .menu__close{
    display: inline-block;
    text-align: end;
    padding: 10px;
  }

  .menu__hamburguer{
    display: inline-block;
  }
}

/* login view */
@media screen and  (min-width: 100px) and (max-width: 600px){
  .main_div{
    flex-direction: column;
    padding: 10px;
    margin: auto 10px;
  }

  .main_description{
    margin: 0;
  }

  .formStyle{
    box-shadow: 0px 4px 17px 0px rgba(20,30,97,0.46);
  }
  .formStyle--login{
     width: 80%;
     margin: 10px auto;
  }
}
